html {
	font-size: 17px;
	font-family: 'Bangers';
}

.post {
	max-width: 450px;
	margin: 20px;
}

.post a {
	text-decoration: none;
}

.text-hover {
    background-image: -webkit-linear-gradient(left, #25b0a9 50%, #fee603 50%);
    background-image: -o-linear-gradient(left, #25b0a9 50%, #fee603 50%);
    background-image: linear-gradient(to right, #25b0a9 50%, #fee603 50%);
	background-position: 0;
	background-size: 200%;
	transition: all 0.4s 
}

.text-hover:hover {
	background-position: -100%;
}